@font-face {
  font-family: "aGothic10";
  src: url(../fonts/a고딕10.ttf) format("truetype");
}

@font-face {
  font-family: "aGothic11";
  src: url(../fonts/a고딕11.ttf) format("truetype");
}

@font-face {
  font-family: "aGothic12";
  src: url(../fonts/a고딕12.ttf) format("truetype");
}

@font-face {
  font-family: "aGothic13";
  src: url(../fonts/a고딕13.ttf) format("truetype");
}

@font-face {
  font-family: "aGothic14";
  src: url(../fonts/a고딕14.ttf) format("truetype");
}

@font-face {
  font-family: "aGothic15";
  src: url(../fonts/a고딕15.ttf) format("truetype");
}

@font-face {
  font-family: "aGothic16";
  src: url(../fonts/a고딕16.ttf) format("truetype");
}

@font-face {
  font-family: "aGothic17";
  src: url(../fonts/a고딕17.ttf) format("truetype");
}

@font-face {
  font-family: "aGothic18";
  src: url(../fonts/a고딕18.ttf) format("truetype");
}

@font-face {
  font-family: "aGothic19";
  src: url(../fonts/a고딕19.ttf) format("truetype");
}

html,
body {
  font-family: "aGothic12";
}

#trashbin {
  width: 100px;
  height: 100px;
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/2892/2892857.svg");
  background-size: 100px 100px;
  float: left;
}

#logo {
  display: none;
}

#water {
  width: 300px;
  height: fit-content;
  min-height: 90px;
  float: left;
  text-align: center;
}

#waterAddButton {
  width: 20px;
  height: 20px;
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/1828/1828926.svg");
  background-size: 20px;
  cursor: pointer;
  display: block;
}

.waterBox {
  width: 300px;
  height: 90px;
  background-color: #fcfcfc;
  cursor: pointer;
  float: none;
  display: block;
}

.waterLeft {
  width: 8px;
  height: 100%;
  float: left;
  background-color: #ef1280;
}

.waterRight {
  width: calc(100% - 25px);
  height: calc(100% - 32px);
  padding-left: 17px;
  padding-top: 22px;
  padding-bottom: 10px;
  float: left;
}

.waterTitle {
  width: 100%;
  float: left;
  text-align: left;
  font-family: "aGothic17";
  font-size: 1.15rem;
}

.waterContent {
  text-align: left;
  float: left;
  margin-top: 5px;
}

.waterContentText {
  font-size: 0.9rem;
  padding-top: 2px;
}

#ingang {
  width: 300px;
  min-height: 90px;
  float: left;
  text-align: center;
}

.ingangBox {
  width: 100%;
  height: 90px;
  background-color: #fcfcfc;
  cursor: pointer;
}

.ingangLeft {
  width: 8px;
  height: 100%;
  float: left;
  background-color: #ef1280;
}

.ingangRight {
  width: calc(100% - 25px);
  height: calc(100% - 32px);
  padding-left: 17px;
  padding-top: 22px;
  padding-bottom: 10px;
  float: left;
}

.ingangTitle {
  width: 100%;
  float: left;
  text-align: left;
  font-family: "aGothic17";
  font-size: 1.15rem;
}

.ingangContent {
  text-align: left;
  float: left;
  margin-top: 5px;
}

.ingangContentText {
  font-size: 0.9rem;
  padding-top: 2px;
}

#laundry {
  width: 450px;
  min-height: 90px;
  float: left;
  text-align: center;
}

.laundryBox {
  width: 100%;
  height: 90px;
  background-color: #fcfcfc;
  cursor: pointer;
}

.laundryLeft {
  width: 8px;
  height: 100%;
  float: left;
  background-color: #ef1280;
}

.laundryRight {
  width: calc(100% - 200px);
  height: calc(100% - 32px);
  padding-left: 17px;
  padding-top: 22px;
  padding-bottom: 10px;
  float: left;
}

.laundryTitle {
  width: 100%;
  float: left;
  text-align: left;
  font-family: "aGothic17";
  font-size: 1.15rem;
}

.laundryContent {
  text-align: left;
  float: left;
  margin-top: 5px;
}

.laundryContentText {
  font-size: 0.9rem;
  padding-top: 2px;
}

.laundryLeftTime {
  width: 150px;
  height: 100%;
  float: right;
  padding-right: 25px;
  font-family: "aGothic15";
  font-size: 1.5rem;
}

.laundryLeftTimeContent {
  height: fit-content;
  text-align: right;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
