<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        let total = 35

        function minusTotal() {
            total--;
            document.getElementById("now_count").innerText = total
        }

        function plusTotal() {
            total++;
            document.getElementById("now_count").innerText = total
        }

        let speak = (text) => {
            console.log(text)
            window.speechSynthesis.cancel()

            const speechMsg = new SpeechSynthesisUtterance()
            speechMsg.rate = 1
            speechMsg.pitch = 1
            speechMsg.lang = "ko-KR"
            speechMsg.text = text
            speechMsg.volume = 1

            window.speechSynthesis.speak(speechMsg)
        }

        function startTimer(time, idx) {
            let hour, min, sec;

            let timer = setInterval(function () {
              hour = parseInt(time/3600);
              min = parseInt(parseInt(time/60) % 60);
              sec = time % 60;

              try{
                  document.getElementById("laundryLeftTime"+idx).innerHTML
                  = hour + "<span style='font-size: 15px'>시간 </span>" +
                  min + "<span style='font-size: 15px'>분 </span>" +
                  sec + "<span style='font-size: 15px'>초 </span>";

                  time--;
              }catch (e){
                  clearInterval(timer)
              }


              if (time < 0) {
                try{
                    clearInterval(timer);
                    document.getElementById("laundryLeftTime"+idx).innerHTML = "빨래하세요!!";
                    const header = document.getElementById("laundryLeftTime"+idx).parentNode.parentNode
                    header.parentNode.removeChild(header)
                }  catch (e) {}
              }
            }, 1000);
        }

        function setColor(id){
            if ($("#"+id).css("background-color") === "rgb(204, 204, 204)"){
                $("#"+id).css("background-color", "#ed1280")
                minusTotal()
            }else{
                $("#"+id).css("background-color", "#cccccc")
                plusTotal()
            }
        }

        let originParent = ""

        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            originParent = ev.target.parentNode.id
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            let target = ""
            try{
                ev.preventDefault();
                let data = ev.dataTransfer.getData("text");
                if (ev.target.id === "trashbin"){
                    document.getElementById(data).parentNode.removeChild(document.getElementById(data));
                    plusTotal();
                } else {
                    //console.log(ev.target.id, originParent)
                    try {
                        if (ev.target.id.indexOf("laundry") === -1 && originParent.indexOf("laundry") === -1){
                            if (document.getElementById("toilet").getElementsByClassName(ev.target.className).length || ev.target.id === "toilet"){
                                target = "toilet"
                            } else if (document.getElementById("water").getElementsByClassName(ev.target.className).length || ev.target.id === "water"){
                                target = "water"
                            } else {
                                return ;
                            }

                            document.getElementById(target).appendChild(document.getElementById(data));
                        }
                    } catch(e) { }
                }
            }catch(e) { }
        }
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <style>
        html, body{
            margin: 0
        }
    </style>
    <title>DIMI JA-SEUB</title>
</head>
<body>
    <div id="trashbin" ondrop="drop(event)" ondragover="allowDrop(event)"> </div>

    <div id="total">
        <h1>보고</h1>
        <h2>재적: <span id="total_count">35</span></h2>
        <h2>현원: <span id="now_count">35</span></h2>
    </div>

    <div id="toilet" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h1>화장실</h1>
        <div id="toiletAddButton"></div>
    </div>

    <div id="water" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h1>물</h1>
        <div id="waterAddButton"></div>
    </div>

    <div id="etc" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h1>기타</h1>
        <div id="etcAddButton"></div>
    </div>

    <div id="ingang" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h1>인강실</h1>
        {% if ingangList %}
            {% for person in ingangList %}
                {% if now_time in person.time %}
                    <script>
                        minusTotal();
                    </script>
                    <div id="ingangBox{{ loop.index }}" class="ingangBox" draggable="true" ondragstart="drag(event)">
                        <div class="ingangLeft" ondragstart="return false"></div>
                        <div class="ingangRight" ondragstart="return false">
                            <div id="ingangTitle{{ loop.index }}" class="ingangTitle">
                                {{ person.name }}
                            </div>
                            <div class="ingangContent">
                                <div id="ingangContentText{{ loop.index }}" class="ingangContentText">
                                    {% for i in person.time %}
                                        {% if loop.last %}{{ i }}타임 인강실 예약하셨습니다
                                        {% else %}{{ i }},
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div>
                오늘은 인강실 가는 사람이 없네!?!?!?
            </div>
        {% endif %}
    </div>

    <div id="laundry" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h1>빨래</h1>
        {% if laundryList %}
            {% for person in laundryList %}
                <div id="laundryBox{{ loop.index }}" class="laundryBox"
                    draggable="true" ondragstart="drag(event)">
                <div id="laundryLeft{{ loop.index }}" class="laundryLeft" onclick="setColor('laundryLeft{{ loop.index }}')"></div>
                {% if loop.first %}
                    <div class="laundryRight">
                {% else %}
                    <div class="laundryRight" style="border-top: 1px solid #eee;">
                {% endif %}
                        <div id="laundryTitle{{ loop.index }}" class="laundryTitle">
                            {{ person.name }}
                        </div>
                        <div class="laundryContent">
                            <div id="laundryContentText{{ loop.index }}" class="laundryContentText">{{ person.hour }}시 {{ person.minute }}분에 빨래를 예약하셨습니다</div>
                        </div>
                    </div>
                    {% if not loop.last %}
                        <div class="laundryLeftTime" style="border-bottom: 1px solid #eee;">
                    {% else %}
                        <div class="laundryLeftTime">
                    {% endif %}
                        <div id="laundryLeftTime{{ loop.index }}" class="laundryLeftTimeContent" onclick="speak(document.getElementById('laundryTitle{{ loop.index }}').innerText +'님, 빨래하러 이동할 시간입니다')">
                            Loading...
                        </div>
                        <script>startTimer({{ person.left_time }}, {{ loop.index }})</script>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="laundryBox"
            onclick="speak(document.getElementById('laundryLeftTimeNONE').innerText)">
                <div class="laundryLeft"></div>
                <div class="laundryRight">
                    <div class="laundryTitle">
                        오늘은 신청자가 없어요
                    </div>
                    <div class="laundryContent">
                        <div id="laundryLeftTimeNONE" class="laundryContentText">
                            오늘은 신청자가 없다고 합니다
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        toiletCnt = 0
        waterCnt = 0
        etcCnt = 0

        $("#toiletAddButton").click(() => {
            let inp = prompt("이름을 입력해주세요")
            inp = inp.replace(/\<|\>|\"|\'|\%|\;|\(|\)|\&|\+|\-/g, "");
            if (inp){
                $("#toilet").append("<div id='toiletBox"+toiletCnt+"' class='toiletBox' draggable='true' ondragstart='drag(event)'>\
                    <div class='toiletLeft'></div> \
                    <div class='toiletRight'>\
                        <div class='toiletTitle'>\
                            "+inp+"\
                        </div>\
                        <div class='toiletContent'>\
                            <div class='toiletContentText'>\
                                "+inp+"은/는 우리반 친구예요!\
                            </div>\
                        </div>\
                    </div>\
                </div>");

                toiletCnt++;
                minusTotal();
            }
        });

        $("#waterAddButton").click(() => {
            let inp = prompt("이름을 입력해주세요")
            inp = inp.replace(/\<|\>|\"|\'|\%|\;|\(|\)|\&|\+|\-/g, "");
            if (inp){
                $("#water").append("<div id='waterBox"+waterCnt+"' class='waterBox' draggable='true' ondragstart='drag(event)'>\
                    <div class='waterLeft'></div> \
                    <div class='waterRight'>\
                        <div class='waterTitle'>\
                            "+inp+"\
                        </div>\
                        <div class='waterContent'>\
                            <div class='waterContentText'>\
                                "+inp+"은/는 우리반 친구예요!\
                            </div>\
                        </div>\
                    </div>\
                </div>");

                waterCnt++;
                minusTotal();
            }
        });

        $("#etcAddButton").click(() => {
            let inp = prompt("이름을 입력해주세요")
            inp = inp.replace(/\<|\>|\"|\'|\%|\;|\(|\)|\&|\+|\-/g, "");
            let inp2 = prompt("이동하는 장소를 말해주세요")
            inp2 = inp2.replace(/\<|\>|\"|\'|\%|\;|\(|\)|\&|\+|\-/g, "");
            if (inp && inp2){
                $("#etc").append("<div id='etcBox"+etcCnt+"' class='etcBox' draggable='true' ondragstart='drag(event)'>\
                    <div class='etcLeft'></div> \
                    <div class='etcRight'>\
                        <div class='etcTitle'>\
                            "+inp+"\
                        </div>\
                        <div class='etcContent'>\
                            <div class='etcContentText'>\
                                "+inp2+"로 이동했다고 하네요\
                            </div>\
                        </div>\
                    </div>\
                </div>");

                etcCnt++;
                minusTotal();
            }
        });
    </script>
</body>
</html>